---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #5d88d3;
$background-color:#0a1018;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: F16;
    src: url("/assets/fonts/Comfortaa-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

 /* Dummy Button */ 
 .dummy  {
    background-color:#17273d;
}

.greedy-nav .visible-links a:before {
  background-color: #5d88d3;
}

/* Role Header Colors */

.AdminHeaderColor {
    color: #d2c40f;
  }

.ModHeaderColor {
  color: #e91e54;
}

/* Preview Button */ 
.MusicClipButton  {
    background-color:#17273d;
    border: none;
    color: white;
    border-radius: 12px;
    border: 2px dashed hsl(0, 0%, 0%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
     -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
     box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
  }
  
.MusicClipButton:active {
    -webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
     -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
     box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
  }
  
.MusicClipButton:focus {
      outline-style: none
  }
  
.MusicClipButton.hover {
    -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
     -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
     box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
  }


/* Normal Button */

.NormalButton  {
background-color:#182235;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
font-weight: bolder;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.NormalButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.NormalButton:focus {
  outline-style: none
}

.NormalButton.hover {
-webkit-box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 15px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 15px rgb(0, 0, 0);
}

/* Twitter Button */

.TwitterButton  {
background-color:#00aced;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
font-weight: bolder;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.TwitterButton:focus {
outline-style: none
}

.TwitterButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.TwitterButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

/* Website Button */

.WebsiteButton  {
background-color:#00b88a;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
font-weight: bolder;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.WebsiteButton:focus {
outline-style: none
}

.WebsiteButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.WebsiteButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

/* YouTube Button */

.YouTubeButton  {
background-color:#FF0000;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
font-weight: bolder;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.YouTubeButton:focus {
outline-style: none
}

.YouTubeButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.YouTubeButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

/* Staff Avatar */

.StaffAvatar {
border-radius: 50%;
border: 4px solid #000000;
-moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      box-shadow: 0px 0px 15px rgb(12, 12, 12);
}

/* Show Thumbnail */

.showthumbnail {
  border-radius: 5%;
  border: 2px solid #000000;
  -moz-box-shadow: inset 0px 0px 20px rgb(12, 12, 12);
  -webkit-box-shadow: inset 0px 0px 20px rgb(12, 12, 12);
  box-shadow: inset 0px 0px 20px rgb(12, 12, 12);
  }
  
/* Blob 404 */

.Blob404 {
border-radius: 20%;
}

/* Album Cover */

.BlobJMP {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(12, 12, 12));
    -moz-filter: 0px 0px 10px rgb(12, 12, 12);
    -ms-filter: 0px 0px 10px rgb(12, 12, 12);
    -o-filter: 0px 0px 10px rgb(12, 12, 12);
     filter: 0px 0px 10px rgb(12, 12, 12);
        }

.AlbumCover {
border-radius: 5%;
-moz-box-shadow: 0px 0px 20px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 20px rgb(12, 12, 12);
      box-shadow: 0px 0px 20px rgb(12, 12, 12);
}

/* Memes */
.bnbmcButton  {
  background-color:#191E25;
  color: white;
  overflow: hidden;
/* IE 6/7 fallback */
  *text-indent: -9999px;
  border: 4px solid #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  font-size: 18px;
  height: 256px; 
  width: 256px;
  background-image:url('/images/memes/bnbmcicon.png');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
  -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
  box-shadow: 0px 0px 15px rgb(12, 12, 12);
  }
  
.bnbmcButton:active {
    -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
    -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
    box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
  }
  
.bnbmcButton:focus {
    outline-style: none
  }
  
.bnbmcButton.hover {
  -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
   -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
   box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
  }

.trumpButton  {
    background-color:#191E25;
    color: white;
    overflow: hidden;
  /* IE 6/7 fallback */
    *text-indent: -9999px;
    border: 4px solid #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    font-size: 18px;
    height: 256px; 
    width: 256px;
    background-image:url('/images/memes/TR50ToM.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
    -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
    box-shadow: 0px 0px 15px rgb(12, 12, 12);
    }
    
.trumpButton:active {
      -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
    }
    
.trumpButton:focus {
      outline-style: none
    }
    
.trumpButton.hover {
    -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
     -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
     box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
    }

.badhombresButton  {
      background-color:#191E25;
      color: white;
      overflow: hidden;
    /* IE 6/7 fallback */
      *text-indent: -9999px;
      border: 4px solid #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 50%;
      font-size: 18px;
      height: 256px; 
      width: 256px;
      background-image:url('/images/memes/badhombres.jpg');
      background-repeat:no-repeat;
      background-size: 100% 100%;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      box-shadow: 0px 0px 15px rgb(12, 12, 12);
      }
      
.badhombresButton:active {
        -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      }
      
.badhombresButton:focus {
        outline-style: none
      }
      
.badhombresButton.hover {
      -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
       -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
       box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
      }    

.ttsworldButton  {
        background-color:#191E25;
        color: white;
        overflow: hidden;
      /* IE 6/7 fallback */
        *text-indent: -9999px;
        border: 4px solid #000000;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 50%;
        font-size: 18px;
        height: 256px; 
        width: 256px;
        background-image:url('/images/memes/ttsworld.jpg');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        -webkit-transition-duration: 1.5s;
        transition-duration: 1.5s;
        -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
        -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
        box-shadow: 0px 0px 15px rgb(12, 12, 12);
        }
        
.ttsworldButton:active {
          -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
          -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
          box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        }
        
.ttsworldButton:focus {
          outline-style: none
        }
        
.ttsworldButton.hover {
        -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
         -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
         box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
        }

    .greatestbitsButton  {
      background-color:#191E25;
      color: white;
      overflow: hidden;
    /* IE 6/7 fallback */
      *text-indent: -9999px;
      border: 4px solid #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 50%;
      font-size: 18px;
      height: 256px; 
      width: 256px;
      background-image:url('/images/memes/greatestbits-icon.jpg');
      background-repeat:no-repeat;
      background-size: 100% 100%;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      box-shadow: 0px 0px 15px rgb(12, 12, 12);
      }
      
  .greatestbitsButton:active {
        -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      }
      
  .greatestbitsButton:focus {
        outline-style: none
      }
      
  .greatestbitsButton.hover {
      -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
       -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
       box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
      }

.jassiepacksButton  {
    background-color:#191E25;
    color: white;
    overflow: hidden;
  /* IE 6/7 fallback */
    *text-indent: -9999px;
    border: 4px solid #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    font-size: 18px;
    height: 256px; 
    width: 256px;
    background-image:url('/images/memes/jmp.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
    -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
    box-shadow: 0px 0px 15px rgb(12, 12, 12);
    }
    
.jassiepacksButton:active {
      -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
    }
    
.jassiepacksButton:focus {
      outline-style: none
    }
    
.jassiepacksButton.hover {
    -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
     -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
     box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
    }

.mssamButton  {
      background-color:#191E25;
      color: white;
      overflow: hidden;
    /* IE 6/7 fallback */
      *text-indent: -9999px;
      border: 4px solid #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 50%;
      font-size: 18px;
      height: 256px; 
      width: 256px;
      background-image:url('/images/memes/tmss-icon.jpg');
      background-repeat:no-repeat;
      background-size: 100% 100%;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      box-shadow: 0px 0px 15px rgb(12, 12, 12);
      }
      
.mssamButton:active {
        -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      }
      
.mssamButton:focus {
        outline-style: none
      }
      
.mssamButton.hover {
      -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
       -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
       box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
      }
.miscButton  {
        background-color:#191E25;
        color: white;
        overflow: hidden;
      /* IE 6/7 fallback */
        *text-indent: -9999px;
        border: 4px solid #000000;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 50%;
        font-size: 18px;
        height: 256px; 
        width: 256px;
        background-image:url('/images/memes/misc-icon.jpg');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        -webkit-transition-duration: 1.5s;
        transition-duration: 1.5s;
        -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
        -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
        box-shadow: 0px 0px 15px rgb(12, 12, 12);
        }
        
.miscButton:active {
          -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
          -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
          box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        }
        
.miscButton:focus {
          outline-style: none
        }
        
.miscButton.hover {
        -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
         -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
         box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
        }

.vmemeButton  {
          background-color:#191E25;
          color: white;
          overflow: hidden;
        /* IE 6/7 fallback */
          *text-indent: -9999px;
          border: 4px solid #000000;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 50%;
          font-size: 18px;
          height: 256px; 
          width: 256px;
          background-image:url('/images/memes/vmeme.jpg');
          background-repeat:no-repeat;
          background-size: 100% 100%;
          -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
          -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
          -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
          box-shadow: 0px 0px 15px rgb(12, 12, 12);
          }
          
.vmemeButton:active {
            -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
            -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
            box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
          }
          
.vmemeButton:focus {
            outline-style: none
          }
          
.vmemeButton.hover {
          -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
           -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
           box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
          }

.tooltip {
            position: relative;
            display: inline-block;
          }
          
.tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
          }
          
.tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
          
.tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }