---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: lavender;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: F16;
    src: url("/assets/fonts/Comfortaa-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

 /* Dummy Button */ 
 .dummy  {
    background-color:#17273d;
}

/* Role Header Colors */

.AdminHeaderColor {
    color: #00ce25;
  }

.ModHeaderColor {
  color: #00c0ff;
}

/* Preview Button */ 
.MusicClipButton  {
    background-color:#17273d;
    border: none;
    color: white;
    border-radius: 12px;
    border: 2px dashed hsl(215, 46%, 11%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-box-shadow: inset 0px 0px 10px rgb(48, 48, 48);
     -moz-box-shadow:    inset 0px 0px 10px rgb(48, 48, 48);
     box-shadow:         inset 0px 0px 10px rgb(48, 48, 48);
  }
  
.MusicClipButton:active {
    -webkit-box-shadow: inset 0px 0px 20px rgb(48, 48, 48);
     -moz-box-shadow:    inset 0px 0px 20px rgb(48, 48, 48);
     box-shadow:         inset 0px 0px 20px rgb(48, 48, 48);
  }
  
.MusicClipButton:focus {
      outline-style: none
  }
  
.MusicClipButton.hover {
    -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
     -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
     box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
  }


/* Normal Button */

.NormalButton  {
background-color:#191E25;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #ffffff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 10px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 10px rgb(48, 48, 48);
}

.NormalButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 20px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 20px rgb(48, 48, 48);
}

.NormalButton:focus {
  outline-style: none
}

.NormalButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
 -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
 box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
}

/* Twitter Button */

.TwitterButton  {
background-color:#00aced;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #ffffff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 10px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 10px rgb(48, 48, 48);
}

.TwitterButton:focus {
outline-style: none
}

.TwitterButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 20px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 20px rgb(48, 48, 48);
}

.TwitterButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
 -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
 box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
}

/* Website Button */

.WebsiteButton  {
background-color:#00b88a;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #ffffff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 10px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 10px rgb(48, 48, 48);
}

.WebsiteButton:focus {
outline-style: none
}

.WebsiteButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 20px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 20px rgb(48, 48, 48);
}

.WebsiteButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
 -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
 box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
}

/* YouTube Button */

.YouTubeButton  {
background-color:#FF0000;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #ffffff;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-box-shadow: inset 0px 0px 10px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 10px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 10px rgb(48, 48, 48);
}

.YouTubeButton:focus {
outline-style: none
}

.YouTubeButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(48, 48, 48);
 -moz-box-shadow:    inset 0px 0px 20px rgb(48, 48, 48);
 box-shadow:         inset 0px 0px 20px rgb(48, 48, 48);
}

.YouTubeButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
 -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
 box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
}

/* Staff Avatar */

.StaffAvatar {
border-radius: 50%;
-moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      box-shadow: 0px 0px 15px rgb(12, 12, 12);
}

/* Blob 404 */

.Blob404 {
border-radius: 20%;
}

/* Album Cover */

.BlobJMP {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(12, 12, 12));
    -moz-filter: 0px 0px 10px rgb(12, 12, 12);
    -ms-filter: 0px 0px 10px rgb(12, 12, 12);
    -o-filter: 0px 0px 10px rgb(12, 12, 12);
     filter: 0px 0px 10px rgb(12, 12, 12);
        }

.AlbumCover {
border-radius: 5%;
-moz-box-shadow: 0px 0px 20px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 20px rgb(12, 12, 12);
      box-shadow: 0px 0px 20px rgb(12, 12, 12);
}
