---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #5d88d3;
$background-color:#05080c;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

//@font-face {
//    font-family: F16;
//   src: url("/assets/fonts/Comfortaa-Regular.ttf") format('truetype');
//    font-weight: bold;
//    font-style: normal;
//}

$font-family: 'IBM Plex Sans', sans-serif;

 /* Dummy Button */ 
 .dummy  {
    background-color:#17273d;
}

.greedy-nav .visible-links a:before {
  background-color: #5d88d3;
}

/* Role Header Colors */

.AdminHeaderColor {
    color: #d2c40f;
  }

.ModHeaderColor {
  color: #e91e54;
}

/* Preview Button */ 
.MusicClipButton  {
    background-color:#17273d;
    border: none;
    color: white;
    border-radius: 12px;
    border: 2px dashed hsl(0, 0%, 0%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
     -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
     box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
  }
  
.MusicClipButton:active {
    -webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
     -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
     box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
  }
  
.MusicClipButton:focus {
      outline-style: none
  }
  
.MusicClipButton.hover {
    -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
     -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
     box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
  }

/* Preview Button */ 
.SingleButton  {
  background-color:#203f5a;
  color: white;
  border-radius: 12px;
  border: 2px solid hsl(0, 0%, 0%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
   -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
   box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.SingleButton:active {
  -webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
   -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
   box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.SingleButton:focus {
    outline-style: none
}

.SingleButton.hover {
  -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
   -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
   box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
}


/* Normal Button */

.NormalButton  {
background-color:#182235;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
font-weight: bold;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
text-shadow: 0px 0px 10px rgb(0, 0, 0);
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.NormalButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.NormalButton:focus {
  outline-style: none
}

.NormalButton.hover {
-webkit-box-shadow: inset 0px 0px 15px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 15px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 15px rgb(0, 0, 0);
}

/* Twitter Button */

.TwitterButton  {
background-color:#00aced;
border: none;
color: rgb(255, 255, 255);
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
font-weight: bold;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
text-shadow: 0px 0px 10px rgb(0, 0, 0);
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.TwitterButton:focus {
outline-style: none
}

.TwitterButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.TwitterButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

/* Website Button */

.WebsiteButton  {
background-color:#00b88a;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
font-weight: bold;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
text-shadow: 0px 0px 10px rgb(0, 0, 0);
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.WebsiteButton:focus {
outline-style: none
}

.WebsiteButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.WebsiteButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

/* YouTube Button */

.YouTubeButton  {
background-color:#FF0000;
border: none;
color: white;
border-radius: 12px;
border: 2px solid #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
font-weight: bold;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
text-shadow: 0px 0px 10px rgb(0, 0, 0);
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

.YouTubeButton:focus {
outline-style: none
}

.YouTubeButton:active {
-webkit-box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 20px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 20px rgb(0, 0, 0);
}

.YouTubeButton.hover {
-webkit-box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
 -moz-box-shadow:    inset 0px 0px 10px rgb(0, 0, 0);
 box-shadow:         inset 0px 0px 10px rgb(0, 0, 0);
}

/* Staff Avatar */

.StaffAvatar {
border-radius: 50%;
border: 4px solid #000000;
-moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      box-shadow: 0px 0px 15px rgb(12, 12, 12);
}

/* Show Thumbnail */

.showthumbnail {
  border-radius: 5%;
  border: 2px solid #000000;
  -moz-box-shadow: inset 0px 0px 20px rgb(12, 12, 12);
  -webkit-box-shadow: inset 0px 0px 20px rgb(12, 12, 12);
  box-shadow: inset 0px 0px 20px rgb(12, 12, 12);
  }
  
/* Blob 404 */

.Blob404 {
border-radius: 20%;
}

/* Front Page Discord Screenshot */

.discordscreenshot {
  
border-radius: 5%;
-moz-box-shadow: 0px 0px 20px #2C2F33;
-webkit-box-shadow: 0px 0px 20px #2C2F33;
box-shadow: 0px 0px 20px #2C2F33;
}
  
/* Blob 404 */

.Blob404 {
border-radius: 20%;
}

/* Album Cover */

.BlobJMP {

    -webkit-filter: drop-shadow(0px 0px 10px rgb(12, 12, 12));
    -moz-filter: 0px 0px 10px rgb(12, 12, 12);
    -ms-filter: 0px 0px 10px rgb(12, 12, 12);
    -o-filter: 0px 0px 10px rgb(12, 12, 12);
     filter: 0px 0px 10px rgb(12, 12, 12);
        }

.AlbumCover {
border-radius: 5%;
-moz-box-shadow: 0px 0px 20px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 20px rgb(12, 12, 12);
      box-shadow: 0px 0px 20px rgb(12, 12, 12);
}

/* Memes */
.bnbmcButton  {
  background-color:#191E25;
  color: white;
  overflow: hidden;
/* IE 6/7 fallback */
  *text-indent: -9999px;
  border: 4px solid #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25%;
  font-size: 18px;
  height: 256px; 
  width: 256px;
  background-image:url('/images/memes/bnbmcicon.jpg');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
  -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
  box-shadow: 0px 0px 15px rgb(12, 12, 12);
  }
  
.bnbmcButton:active {
    -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
    -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
    box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
  }
  
.bnbmcButton:focus {
    outline-style: none
  }
  
.bnbmcButton.hover {
  -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
   -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
   box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
  }

.simsButton  {
    background-color:#191E25;
    color: white;
    overflow: hidden;
  /* IE 6/7 fallback */
    *text-indent: -9999px;
    border: 4px solid #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25%;
    font-size: 18px;
    height: 256px; 
    width: 256px;
    background-image:url('/images/memes/plumbob.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
    -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
    box-shadow: 0px 0px 15px rgb(12, 12, 12);
    }
    
.simsButton:active {
      -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
    }
    
.simsButton:focus {
      outline-style: none
    }
    
.simsButton.hover {
    -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
     -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
     box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
    }

.switchButton  {
      background-color:#FFFFFF;
      color: white;
      overflow: hidden;
    /* IE 6/7 fallback */
      *text-indent: -9999px;
      border: 4px solid #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 25%;
      font-size: 18px;
      height: 256px; 
      width: 256px;
      background-image:url('/images/memes/switchlogo.png');
      background-repeat:no-repeat;
      background-size: 100% 100%;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      -moz-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      -webkit-box-shadow: 0px 0px 15px rgb(12, 12, 12);
      box-shadow: 0px 0px 15px rgb(12, 12, 12);
      }
      
.switchButton:active {
        -moz-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        -webkit-box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
        box-shadow: inset 0px 0px 15px rgb(12, 12, 12);
      }
      
.switchButton:focus {
        outline-style: none
      }
      
.switchButton.hover {
      -webkit-box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
       -moz-box-shadow:    inset 0px 0px 10px rgb(255, 255, 255);
       box-shadow:         inset 0px 0px 10px rgb(255, 255, 255);
      }

.trumpButton  {
    background-color:rgb(0, 0, 0);
    color: orange;
    overflow: hidden;
  /* IE 6/7 fallback */
    *text-indent: -9999px;
    border: 4px solid #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25%;
    font-size: 40px;
    height: 256px; 
    width: 256px;
    //background-image:url('/images/memes/TR50ToM.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    text-shadow: 0px 0px 16px rgb(196, 108, 0);
    -moz-box-shadow: 0px 0px 20px rgb(196, 108, 0);
    -webkit-box-shadow: 0px 0px 20px rgb(196, 108, 0);
    box-shadow: 0px 0px 20px rgb(196, 108, 0);
    }
    
.trumpButton:active {
      -moz-box-shadow: inset 0px 0px 20px rgb(196, 108, 0);
      -webkit-box-shadow: inset 0px 0px 20px rgb(196, 108, 0);
      box-shadow: inset 0px 0px 20px rgb(196, 108, 0);
    }
    
.trumpButton:focus {
      outline-style: none
    }
    
.trumpButton.hover {
    -webkit-box-shadow: inset 0px 0px 10px rgb(196, 108, 0);
     -moz-box-shadow:    inset 0px 0px 10px rgb(196, 108, 0);
     box-shadow:         inset 0px 0px 10px rgb(196, 108, 0);
    }

.badhombresButton  {
      background-color: lightgray;
      color: rgb(53, 53, 53);
      overflow: hidden;
    /* IE 6/7 fallback */
      *text-indent: -9999px;
      border: 4px solid #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 25%;
      font-weight: bold;
      font-size: 40px;
      height: 256px; 
      width: 256px;
      //background-image:url('/images/memes/badhombres.jpg');
      background-repeat:no-repeat;
      background-size: 100% 100%;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      text-shadow: 0px 0px 8px rgb(63, 63, 63);
      -moz-box-shadow: 0px 0px 20px rgb(53, 53, 53);
      -webkit-box-shadow: 0px 0px 20px rgb(53, 53, 53);
      box-shadow: 0px 0px 20px rgb(53, 53, 53);
      }
      
.badhombresButton:active {
        -moz-box-shadow: inset 0px 0px 20px rgb(53, 53, 53);
        -webkit-box-shadow: inset 0px 0px 20px rgb(53, 53, 53);
        box-shadow: inset 0px 0px 20px rgb(53, 53, 53);
      }
      
.badhombresButton:focus {
        outline-style: none
      }
      
.badhombresButton.hover {
      -webkit-box-shadow: inset 0px 0px 10px rgb(53, 53, 53);
       -moz-box-shadow:    inset 0px 0px 10px rgb(53, 53, 53);
       box-shadow:         inset 0px 0px 10px rgb(53, 53, 53);
      }

.singlesButton  {
        background-color:rgb(19, 33, 54);
        color: green;
        overflow: hidden;
      /* IE 6/7 fallback */
        *text-indent: -9999px;
        border: 4px solid #000000;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 25%;
        font-weight: bold;
        font-size: 52px;
        height: 256px; 
        width: 256px;
        //background-image:url('/images/memes/graphiceq.gif');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        -webkit-transition-duration: 1.5s;
        transition-duration: 1.5s;
        text-shadow: 0px 0px 12px rgb(0, 0, 0);
        -moz-box-shadow: 0px 0px 20px green;
        -webkit-box-shadow: 0px 0px 20px green;
        box-shadow: 0px 0px 20px green;

        }
        
.singlesButton:active {
          -moz-box-shadow: inset 0px 0px 20px green;
          -webkit-box-shadow: inset 0px 0px 20px green;
          box-shadow: inset 0px 0px 20px green;
        }
        
.singlesButton:focus {
          outline-style: none
        }
        
.singlesButton.hover {
        -webkit-box-shadow: inset 0px 0px 10px green;
         -moz-box-shadow:    inset 0px 0px 10px green;
         box-shadow:         inset 0px 0px 10px green;
        }        

.ttsworldButton  {
          background-color: rgb(20, 20, 20);
          color: rgb(0, 204, 255);
          overflow: hidden;
        /* IE 6/7 fallback */
          *text-indent: -9999px;
          border: 4px solid #000000;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 25%;
          font-weight: bold;
          font-size: 40px;
          height: 256px; 
          width: 256px;
          //background-image:url('/images/memes/badhombres.jpg');
          background-repeat:no-repeat;
          background-size: 100% 100%;
          -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
          text-shadow: 0px 0px 8px rgb(43, 43, 43);
          -moz-box-shadow: 0px 0px 20px rgb(0, 204, 255);
          -webkit-box-shadow: 0px 0px 20px rgb(0, 204, 255);
          box-shadow: 0px 0px 20px rgb(0, 204, 255);
          }
          
.ttsworldButton:active {
            -moz-box-shadow: inset 0px 0px 20px rgb(0, 204, 255);
            -webkit-box-shadow: inset 0px 0px 20px rgb(0, 204, 255);
            box-shadow: inset 0px 0px 20px rgb(0, 204, 255);
          }
          
.ttsworldButton:focus {
            outline-style: none
          }
          
.ttsworldButton.hover {
          -webkit-box-shadow: inset 0px 0px 10px rgb(0, 204, 255);
           -moz-box-shadow:    inset 0px 0px 10px rgb(0, 204, 255);
           box-shadow:         inset 0px 0px 10px rgb(0, 204, 255);
          }

    .greatestbitsButton  {
      background-color:rgb(7, 81, 150);
      color: white;
      overflow: hidden;
    /* IE 6/7 fallback */
      *text-indent: -9999px;
      border: 4px solid #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 25%;
      font-weight: bold;
      font-size: 40px;
      height: 256px; 
      width: 256px;
      //background-image:url('/images/memes/greatestbits-icon.jpg');
      background-repeat:no-repeat;
      background-size: 100% 100%;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      text-shadow: 0px 0px 8px rgb(0, 0, 0);
      -moz-box-shadow: 0px 0px 20px white;
      -webkit-box-shadow: 0px 0px 20px white;
      box-shadow: 0px 0px 20px white;
      }
      
  .greatestbitsButton:active {
        -moz-box-shadow: inset 0px 0px 20px white;
        -webkit-box-shadow: inset 0px 0px 20px white;
        box-shadow: inset 0px 0px 20px white;
      }
      
  .greatestbitsButton:focus {
        outline-style: none
      }
      
  .greatestbitsButton.hover {
      -webkit-box-shadow: inset 0px 0px 10px white;
       -moz-box-shadow:    inset 0px 0px 10px white;
       box-shadow:         inset 0px 0px 10px white;
      }

.jassiepacksButton  {
          background-color: rgb(214, 133, 146);
          color: rgb(88, 197, 248);
          overflow: hidden;
        /* IE 6/7 fallback */
          *text-indent: -9999px;
          border: 4px solid #000000;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 25%;
          font-weight: bold;
          font-size: 36px;
          height: 256px; 
          width: 256px;
          //background-image:url('/images/memes/badhombres.jpg');
          background-repeat:no-repeat;
          background-size: 100% 100%;
          -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
          text-shadow: 0px 0px 8px rgb(0, 0, 0);
          -moz-box-shadow: 0px 0px 20px rgb(88, 197, 248);
          -webkit-box-shadow: 0px 0px 20px rgb(88, 197, 248);
          box-shadow: 0px 0px 20px rgb(88, 197, 248);
          }
          
.jassiepacksButton:active {
            -moz-box-shadow: inset 0px 0px 20px rgb(88, 197, 248);
            -webkit-box-shadow: inset 0px 0px 20px rgb(88, 197, 248);
            box-shadow: inset 0px 0px 20px rgb(88, 197, 248);
          }
          
.jassiepacksButton:focus {
            outline-style: none
          }
          
.jassiepacksButton.hover {
          -webkit-box-shadow: inset 0px 0px 10px rgb(88, 197, 248);
           -moz-box-shadow:    inset 0px 0px 10px rgb(88, 197, 248);
           box-shadow:         inset 0px 0px 10px rgb(88, 197, 248);
          }

.mssamButton  {
      background-color: rgb(33, 89, 104);
      color: rgb(202, 202, 202);
      overflow: hidden;
    /* IE 6/7 fallback */
      *text-indent: -9999px;
      border: 4px solid #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 25%;
      font-weight: bold;
      font-size: 36px;
      height: 256px; 
      width: 256px;
      //background-image:url('/images/memes/badhombres.jpg');
      background-repeat:no-repeat;
      background-size: 100% 100%;
      -webkit-transition-duration: 1.5s;
      transition-duration: 1.5s;
      text-shadow: 0px 0px 8px rgb(26, 26, 26);
      -moz-box-shadow: 0px 0px 20px rgb(202, 202, 202);
      -webkit-box-shadow: 0px 0px 20px rgb(202, 202, 202);
      box-shadow: 0px 0px 20px rgb(202, 202, 202);
      }
      
.mssamButton:active {
        -moz-box-shadow: inset 0px 0px 20px rgb(202, 202, 202);
        -webkit-box-shadow: inset 0px 0px 20px rgb(202, 202, 202);
        box-shadow: inset 0px 0px 20px rgb(202, 202, 202);
      }
      
.mssamButton:focus {
        outline-style: none
      }
      
.mssamButton.hover {
      -webkit-box-shadow: inset 0px 0px 10px rgb(202, 202, 202);
       -moz-box-shadow:    inset 0px 0px 10px rgb(202, 202, 202);
       box-shadow:         inset 0px 0px 10px rgb(33, 89, 104);
      }

.miscButton  {
          background-color: rgb(123, 121, 150);
          color: rgb(0, 27, 63);
          overflow: hidden;
        /* IE 6/7 fallback */
          *text-indent: -9999px;
          border: 4px solid #000000;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 25%;
          font-weight: bold;
          font-size: 40px;
          height: 256px; 
          width: 256px;
          //background-image:url('/images/memes/badhombres.jpg');
          background-repeat:no-repeat;
          background-size: 100% 100%;
          -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
          text-shadow: 0px 0px 8px rgb(43, 43, 43);
          -moz-box-shadow: 0px 0px 20px rgb(0, 27, 63);
          -webkit-box-shadow: 0px 0px 20px rgb(0, 27, 63);
          box-shadow: 0px 0px 20px rgb(0, 27, 63);
          }
          
.miscButton:active {
            -moz-box-shadow: inset 0px 0px 20px rgb(0, 27, 63);
            -webkit-box-shadow: inset 0px 0px 20px rgb(0, 27, 63);
            box-shadow: inset 0px 0px 20px rgb(0, 27, 63);
          }
          
.miscButton:focus {
            outline-style: none
          }
          
.miscButton.hover {
          -webkit-box-shadow: inset 0px 0px 10px rgb(0, 27, 63);
           -moz-box-shadow:    inset 0px 0px 10px rgb(0, 27, 63);
           box-shadow:         inset 0px 0px 10px rgb(0, 27, 63);
          }

.vmemeButton  {
            background-color: rgb(112, 146, 191);
            color: rgb(252, 242, 4);
            overflow: hidden;
          /* IE 6/7 fallback */
            *text-indent: -9999px;
            border: 4px solid #000000;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 25%;
            font-weight: bold;
            font-size: 40px;
            height: 256px; 
            width: 256px;
            //background-image:url('/images/memes/badhombres.jpg');
            background-repeat:no-repeat;
            background-size: 100% 100%;
            -webkit-transition-duration: 1.5s;
            transition-duration: 1.5s;
            text-shadow: 0px 0px 8px rgb(0, 0, 0);
            -moz-box-shadow: 0px 0px 20px rgb(252, 242, 4);
            -webkit-box-shadow: 0px 0px 20px rgb(252, 242, 4);
            box-shadow: 0px 0px 20px rgb(252, 242, 4);
            }
            
.vmemeButton:active {
              -moz-box-shadow: inset 0px 0px 20px rgb(252, 242, 4);
              -webkit-box-shadow: inset 0px 0px 20px rgb(252, 242, 4);
              box-shadow: inset 0px 0px 20px rgb(252, 242, 4);
            }
            
.vmemeButton:focus {
              outline-style: none
            }
            
.vmemeButton.hover {
            -webkit-box-shadow: inset 0px 0px 10px rgb(252, 242, 4);
             -moz-box-shadow:    inset 0px 0px 10px rgb(252, 242, 4);
             box-shadow:         inset 0px 0px 10px rgb(252, 242, 4);
            }